.card {
  height: 350px;
  width: 350px;
  position: relative;
  margin: 1px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.25);
  transition: 0.3s;
  overflow: hidden;
  border-radius: 4px;

  img {
    object-fit: cover;
    height: 350px;
    width: 350px;
  }
}

.inputDatePicker {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

.listItem {
  margin-bottom: 20px;
}
